<template>
    <div class="date-picker" :dir="dir" v-if="core && lang">
        <div class="date-picker-header">
            <div class="date-picker-controller">
                <button class="date-picker-controller__perv" @click="perv" :title="lang.word.perv">
                    <img src="@/components/icons/next.svg" alt="next" v-if="dir==='rtl'">
                    <img src="@/components/icons/back.svg" alt="next" v-if="dir==='ltr'">
                </button>
                <div class="date-picker-controller__active">
                    {{monthName}}
                    {{thisMonth.format("YYYY")}}
                </div>
                <button class="date-picker-controller__next" @click="next" :title="lang.word.next">
                    <img src="@/components/icons/back.svg" alt="back" v-if="dir==='rtl'">
                    <img src="@/components/icons/next.svg" alt="back" v-if="dir==='ltr'">

                </button>
            </div>
              <div class="date-picker-week-days">
                  <div class="date-picker-week-days__day-name" v-for="(item,index) in lang.shortWeekDays"
                       :key="index">{{item}}
                  </div>
              </div>
        </div>
        <div class="date-picker-body">
            <div class="date-picker-body__week"
                 v-for="(item,index) in week" :key="index">
                <div class="date-picker-body__day"
                     v-for="(day,index) in item" :key="index"
                     :class="[core.dayStyles(day,selectedDate)]"
                     @click="selectDate(day)"
                >
                    {{day.format("D").toString()}}
                </div>
            </div>
        </div>
        <div class="date-picker-footer">
            <div class="date-picker-switch">
                <button class="date-picker-btn" @click="switchDate">
                    {{lang.word.switch}}
                </button>
            </div>
            <select v-model="modePicker">
                <option value="day">
                    {{lang.word.daily}}
                </option>
                <option value="week">
                    {{lang.word.weekly}}
                </option>
                <option value="month">
                    {{lang.word.monthly}}
                </option>
                <option value="year">
                    {{lang.word.yearly}}
                </option>
            </select>
            <div class="date-picker-today">
                <button class="date-picker-btn" @click="getToday">
                    {{lang.word.today}}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import Picker from "../../plugin/pickertor/core";

    export default {
        name: "date-picker",

        data() {
            return {
                core: null,
                week: [],
                selectedDate: null,
                modePicker: "month"
            }
        },
        /* filters: {
             monthName(value) {
                 // lang.word.monthsName
                 debugger
                 if (this.lang && this.lang.word) {
                     console.log(this.lang);
                     return ""
                 }
                 return  "0"
             }
         },*/
        watch: {
            modePicker(val) {
                this.core.setConfig({
                    mode: val,
                    locale: this.lang.name
                })
                this.week = this.core.generateDates({
                    changeMode: true,
                    monthToShow: this.activeMonth
                })
            }
        },
        computed: {
            monthName() {
                return this.lang.monthsName[parseInt(this.thisMonth.format("M")) - 1]
            },
            thisMonth() {
                return this.core.thisMonth()
            },
            lang() {
                return this.core.activeLocal().local
            },
            dir() {
                return this.core.activeLocal().dir
            }
        },
        mounted() {
            this.core = new Picker()
            this.week = this.core.generateDates({locale: "fa"})
        },
        methods: {
            next() {
                this.week = this.core.next()
            },
            perv() {
                this.week = this.core.perv()
            },
            switchDate() {
                this.core.setConfig({locale: this.lang.name === "fa" ? "en" : "fa"})
                this.week = this.core.generateDates({
                    changeMode: true,
                    monthToShow: this.thisMonth
                })
            },
            getToday() {
                this.week = this.core.generateDates({})
            },
            selectDate(day) {
                this.selectedDate = day
            }
        }
    }
</script>
