.date-picker
  display: flex
  flex-direction: column
  width: em(647)
  padding: em(40) em(50)
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3)
  background-color: var(--faded)
  font-size: 7px
  &-header
    width: 100%
    display: flex
    flex-direction: column

  &-controller
    width: 100%
    display: flex
    justify-content: space-between
    margin-bottom: em(30)
    padding: 0 em(30)

    &__next,
    &__perv
      background-color: transparent
      border: none
      box-shadow: none
      cursor: pointer
      &:focus
        filter: brightness(50%)
        outline: none
        border: none
    &__active
      color: var(--primary)
      font-family: var(--fontMedium)
      font-size: rem(16,22)

  &-week-days
    width: 100%
    display: flex
    margin-bottom: em(20)

    &__day-name
      display: flex
      flex: 1 1
      align-items: center
      justify-content: center
      color: var(--primary)
      text-align: center
      font-family: var(--font)
      font-size: rem(16,22)
      position: relative

      &:before
        content: ""
        position: absolute
        bottom: 0px
        display: block
        right: 45%
        border-radius: 6px
        left: 45%
        height: em(2)
        background-color: var(--primary)


  &-body
    width: 100%
    margin-bottom: em(10)

    &__week
      display: flex
      width: 100%
      margin-bottom: em(20)
      justify-content: space-around

    &__day
      display: flex
      align-items: center
      justify-content: center
      color: var(--inverse)
      text-align: center
      font-family: var(--font)
      font-size: rem(16,22)
      border-radius: 6px
      width: em(40)
      height: em(40)
      position: relative
      cursor: pointer

      &:before
        content: ""
        position: absolute
        display: block
        bottom: 0
        right: 50%
        left: 50%
        border-radius: 6px
        height: em(2)
        background-color: var(--primary)
        transition: all 0.3s ease-out

      &:hover
        &:before
          right: 30%
          left: 30%

      &.today
        border: 1px solid var(--primary)

      &.before-month
        opacity: 0.2
        pointer-events: none

      &.before-today
        border: 1px solid var(--warning)

      &.selected
        z-index: 1
        color: var(--faded)

        &:before
          z-index: -1
          bottom: 0
          right: 0
          left: 0
          height: 100%


  &-footer
    display: flex
    justify-content: space-around

  &-btn
    background-color: var(--primary)
    font-family: var(--fontLight)
    padding: em(7) em(15)
    color: var(--faded)
    border: none
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    cursor: pointer
    font-size: rem(16,22)

