@font-face
        font-weight: 300
        font-style: normal
        font-family: vazirLight
        src: url('./fonts/vazir/Vazir-Light-FD.woff') format("woff")
@font-face
        font-weight: 200
        font-style: normal
        font-family: vazirMedium
        src: url('./fonts/vazir/Vazir-Medium-FD.woff') format("woff")
@font-face
        font-weight: normal
        font-style: normal
        font-family: vazir
        src: url('./fonts/vazir/Vazir-FD.woff') format("woff")

@font-face
        font-family: vazirBold
        src: url('./fonts/vazir/Vazir-Bold.woff') format("woff")

