*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-box-sizing: border-box

\:root
  --primary: #1e80d7
  --success: #5cb85c
  --info: #5bc0de
  --warning: #f0ad4e
  --danger: #d9534f
  --inverse: #292b2c
  --faded: #f7f7f7
  --font: vazir
  --fontLight: vazirLight
  --fontMedium: vazirMedium
  --fontBold: vazirBold
  --baseFontSize: 16px

#app
  display: flex
  justify-content: center
  align-items: start
  padding-top: 50px

$base-font-size: 16

@function em($px, $base: $base-font-size)
  @return #{$px / $base}em

@function rem($px, $base: $base-font-size)
  @return #{$px / $base}rem

body
  background-color: var(--primary)
