<template>
  <div id="app">
    <date-picker />
  </div>
</template>

<script>

import DatePicker from "@/components/date-picker/index";
export default {
  name: 'App',
  components: {
    DatePicker
  }
}
</script>
